body{
    margin:0;
    font-family: Arial;
    background-color: rgb(3, 71, 110);
    color:rgb(255, 255, 255)
}

header{
background-color: rgb(5, 86, 133);
padding:20px;
}

nav{
    text-align:center;
}

nav a{
color:rgb(255, 255, 255);
margin:20px;
text-decoration:none;
font-weight: bold;
font-size: 18px;
}

.conteudo{
padding: 40px;
}

h1{
font-size: 45px;
margin-bottom: 30px;
}

.area{
display: flex;
align-items: center;
gap: 40px;
}

.area img{
width: 300px;
border-radius: 10px;
}

.area p{
    font-size: 20px;
    line-height: 1.6;
}


.area img{
    width: 300px;
    border-radius: 10px;
    animation: pular 1s infinite;
}

@keyframes pular {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}